page-statistics {
  .deal-icon{ margin-right:5px; }
  .statistic{
    margin-right:5px;
    margin-left:5px;
  }
  .sidebar-dashboard {
      width: 275px;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      z-index: 2000;
      background: white;
      color: #000;
      transition: all 0.3s;
      overflow-y: scroll;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  .deal-title{ font-size: medium; font-weight: 800;}
  .sidebar-dashboard {
        width: 275px;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        z-index: 2000;
        background: white;
        color: #000;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
  .sidebar-dashboard.active { right: 0; }
  .dismiss-dashboard{ font-size: 2em; }
  .overlay-dashboard {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      z-index: 998;
      display: none;
  }
 .header-back{background: #dedede;border-bottom: solid 1px #bdbdbd;}
 .action-text{font-weight: 700;font-size: medium;}
 /* .list-scroll{ width:100vw;height:100vh;margin:0px;padding:0px; }  */
 .header-back{background: #dedede;border-bottom: solid 1px #bdbdbd;}
  .Deal-color
  {
    color: #62bd0f;
    font-size: 17px;
  }
  .dealicon i
{
    color: #62bd0f;
    font-size: 16px;
    margin-left: 10px;
}
.dealicon
{
    color: #474444;
    font-size: 12px;
}

.priceofpanel{
  font-weight: 500;
}

.apply{
  color: #62bd0f;
}

ion-scroll[scrollY] {
    white-space: nowrap;
    height: 1000px;
    overflow-y: auto;

    .scroll-item {
      display: inline-block;
    }

    .selectable-icon{
      margin: 10px 20px 10px 20px;
      color: red;
      font-size: 100px;
    }

    ion-avatar img{
      margin: 10px;
    }
  }

  ion-scroll[scroll-avatar]{
    height: 200px;
  }

  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  }
}


