<!--
  Generated template for the StatisticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navcolor">
    <ion-title>Statistics</ion-title> 
    <ion-buttons end>
      <button ion-button class="sidebarCollapse-dashboard" icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<nav class="sidebar-dashboard">
  <ion-list-header class="header-back">
    <ion-icon class="dismiss-dashboard" name="close" item-start></ion-icon> 
    <span class="action-text">Choose Filter</span>
    <button class="pull-right">RESET</button>
  </ion-list-header>
  <ion-scroll class="list-scroll" scrollY="true">
    <ion-list scroll="true">
    <ion-item-divider color="light">Users</ion-item-divider>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="everyone_sidebar('everyone')">
        <span [ngStyle]="{'color': everyone_color === 'everyone' ? '#2ec95c' : '#000'}">Everyone</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': everyone_color === 'everyone' ? '#2ec95c' : '#000',
          'display': everyone_icon === 'everyone' ? 'inline-block' : 'none' }">
        </span>
      </button>
    <ion-item-divider color="light">Pipelines</ion-item-divider>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="pipeline_sidebar('pipeline')">
        <span [ngStyle]="{'color': pipeline_color === 'pipeline' ? '#2ec95c' : '#000'}">All Pipeline</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': pipeline_color === 'pipeline' ? '#2ec95c' : '#000',
          'display': pipeline_icon === 'pipeline' ? 'inline-block' : 'none' }">
        </span>
      </button>
    <ion-item-divider color="light">Time</ion-item-divider>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="date_sidebar('Yesterday')">
        <span [ngStyle]="{'color': user_color === 'Yesterday' ? '#2ec95c' : '#000'}">Yesterday</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': user_color === 'Yesterday' ? '#2ec95c' : '#000',
          'display': display_icon === 'Yesterday' ? 'inline-block' : 'none' }">
        </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="date_sidebar('Today')">
        <span [ngStyle]="{'color': user_color === 'Today' ? '#2ec95c' : '#000'}">Today</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': user_color === 'Today' ? '#2ec95c' : '#000',
          'display': display_icon === 'Today' ? 'inline-block' : 'none' }">
        </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="date_sidebar('This month')">
        <span [ngStyle]="{'color': user_color === 'This month' ? '#2ec95c' : '#000'}">This month</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': user_color === 'This month' ? '#2ec95c' : '#000',
          'display': display_icon === 'This month' ? 'inline-block' : 'none' }">
        </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="date_sidebar('Last month')">
        <span [ngStyle]="{'color': user_color === 'Last month' ? '#2ec95c' : '#000'}">Last month</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': user_color === 'Last month' ? '#2ec95c' : '#000',
          'display': display_icon === 'Last month' ? 'inline-block' : 'none' }">
        </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="date_sidebar('Last 3 Months')">
        <span [ngStyle]="{'color': user_color === 'Last 3 Months' ? '#2ec95c' : '#000'}">Last 3 Months</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': user_color === 'Last 3 Months' ? '#2ec95c' : '#000',
          'display': display_icon === 'Last 3 Months' ? 'inline-block' : 'none' }">
        </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="date_sidebar('Last 6 Months')">
        <span [ngStyle]="{'color': user_color === 'Last 6 Months' ? '#2ec95c' : '#000'}">Last 6 Months</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': user_color === 'Last 6 Months' ? '#2ec95c' : '#000',
          'display': display_icon === 'Last 6 Months' ? 'inline-block' : 'none' }">
        </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="date_sidebar('This year')">
        <span [ngStyle]="{'color': user_color === 'This year' ? '#2ec95c' : '#000'}">This year</span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
          [ngStyle]="{'color': user_color === 'This year' ? '#2ec95c' : '#000',
          'display': display_icon === 'This year' ? 'inline-block' : 'none' }">
        </span>
      </button>
      <button ion-button clear item-end>Apply</button>
      
    </ion-list>
  </ion-scroll>
</nav>
<ion-content class="bg-style">
  <div class="overlay-dashboard"></div>
  <ion-item>
    <ion-icon name="logo-usd" class="statistic"></ion-icon><span class="deal-icon deal-title" no-lines>Deals</span>
  </ion-item>
  <ion-card *ngIf="dealData">
    <ion-card-header>
      New deals
    </ion-card-header>
    <ion-card-content>
      <div>
        <span class="priceofpanel">{{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
        <span class="pull-right dealicon">{{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
      </div>
       <div>
          <span>{{ dealData.statistics_deal_currencyWithTotal.current_currency }} 
          {{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
          <span class="pull-right dealicon">{{ dealData.statistics_deal_currencyWithTotal.current_currency }} {{ dealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i>
          </span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="lostdealData">
    <ion-card-header>
      Lost deals
    </ion-card-header>
    <ion-card-content>
      <div>
        <span class="priceofpanel">{{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
        <span class="pull-right dealicon">{{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
      </div>
      <div>
        <span>{{ lostdealData.statistics_deal_currencyWithTotal.current_currency }} 
        {{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
        <span class="pull-right dealicon">{{ lostdealData.statistics_deal_currencyWithTotal.current_currency }} {{ lostdealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i>
        </span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="wondealData">
    <ion-card-header>
      Won deals
    </ion-card-header>
    <ion-card-content>
      <div>
          <span class="priceofpanel">{{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
          <span class="pull-right dealicon">{{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i></span>
      </div>
      <div>
        <span>{{ wondealData.statistics_deal_currencyWithTotal.current_currency }} 
        {{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}</span>
        <span class="pull-right dealicon">{{ wondealData.statistics_deal_currencyWithTotal.current_currency }} {{ wondealData.statistics_deal_currencyWithTotal.current_total | number :'1.2-2' }}<i class="fa fa-caret-up" aria-hidden="true"></i>
        </span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
