<ion-content padding>
	<div class="margin-header">
		<h2>Confirm Code Verification</h2>
		<p>Find verification code on email address</p>
	  <form>
		  <ion-item>
		    <ion-label floating>Enter Code</ion-label>
		    <ion-input type="text" autofocus required [(ngModel)]="confirmationCode" name="confirmationCode"></ion-input>
		  </ion-item>

		 	<div padding>
		  	<button ion-button outline full class="sign-up-btn" (click)="onConfirmRegistration()">SUBMIT</button>
		 	</div>
	  </form>

	  <ion-grid padding>
	    <ion-row>
	        <ion-col width-30>
	            <button ion-button clear small (click)="ResendCode()">Resend Code</button>
	        </ion-col>
	    </ion-row>
		</ion-grid>
	</div>
</ion-content>