<ion-content padding>
	<div class="margin-header">
	  <h2 class="heading-title">salesmonster</h2>
	  <form>
		  <ion-item>
		    <ion-label floating>Email</ion-label>
		    <ion-input type="email" required [(ngModel)]="email" name="email" autofocus></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label floating>Password</ion-label>
		    <!--<ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>-->
			  <ion-input [type]="password_type" name="password" [(ngModel)]="password" required></ion-input>
	    	<ion-icon name="eye" item-right *ngIf="password_type == 'text'" (click)="togglePasswordMode()"></ion-icon>
	    	<ion-icon name="eye-off" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'password'"></ion-icon>
			</ion-item>

		  <div padding style="color: #23527c;" (click)="forget_password()">Forgot password?</div>
		 	<div padding>
		  	<button ion-button full (click)="loginMe()">LOG IN</button>
		 	</div>
		 	<div padding>
		  	<button ion-button outline full class="sign-up-btn" (click)="signup_page()">SIGN UP</button>
		 	</div>
	  </form>
  </div>
</ion-content>
