<!--
  Generated template for the OrganisationDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="navcolor">
  	<ion-title>org detail</ion-title>
    <ion-buttons end (click)="pushOnOrganisationEdit()">
	    <button ion-button icon-only>
	    	<i class="fa fa-pencil" aria-hidden="true"></i>
	    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <ion-list>
      <ion-item no-lines>
          <h2 *ngIf="organisation_data"><b><span item-left>{{organisation_data.contact_organization_name}}</span></b></h2>
          <span *ngIf="org_address">{{org_address}}</span>
      </ion-item>
  </ion-list>
  <div>
      <ion-segment [(ngModel)]="deals">
          <ion-segment-button value="general">
            GENERAL
          </ion-segment-button>
          <ion-segment-button value="timeline">
            TIMELINE
          </ion-segment-button>
          <ion-segment-button value="deals1">
            DEALS
          </ion-segment-button>
          <ion-segment-button value="people">
            PEOPLE
          </ion-segment-button>
      </ion-segment>
  </div>

  <div [ngSwitch]="deals" >
      <ion-list *ngSwitchCase="'general'" ngSelected="selected" class="item-slide-2 detail-scroll">
        <div class="mgs-deal" *ngIf="email==undefined && phone==undefined && contacts_organizations_length==0">
          <p>No Detail</p>
        </div>
      <span class="activity-status" *ngIf="contacts_organizations_length!=0">Custom Field</span>
      <ion-list *ngIf="contacts_organizations_fields_obj">
       
           <ng-container *ngFor="let deal_field of contacts_organizations_fields_obj">
                <ng-container *ngIf="deal_field.is_type == 'Text'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
                  </ion-item>
                </ng-container>

                <ng-container *ngIf="deal_field.is_type == 'Large text'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
                  </ion-item>
                </ng-container>
                <ng-container *ngIf="deal_field.is_type == 'Date'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
                  </ion-item>
                </ng-container>
                <!--<ng-container *ngIf="deal_field.is_type == 'Single option'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
                  </ion-item>
                </ng-container>
                <ng-container *ngIf="deal_field.is_type == 'Multiple option'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
                  </ion-item>
                </ng-container>-->
                <ng-container *ngIf="deal_field.is_type == 'Time'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
                  </ion-item>
                </ng-container>
                <ng-container *ngIf="deal_field.is_type == 'Numerical' || 
                  deal_field.is_type == 'Phone'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
                  </ion-item>
                </ng-container>
                <!--<ng-container *ngIf="deal_field.is_type == 'Date range'">
                  <ion-item>
                    <ion-label floating>{{deal_field.label}}</ion-label>
                    <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value.formatted}}"></ion-input>
                  </ion-item>
                </ng-container>-->
           </ng-container>
       </ion-list>
    
      </ion-list>

      <ion-list *ngSwitchCase="'timeline'" >
          <span class="activity-status">Planned</span>
          <ion-item>
              <ion-avatar item-start class="calendar-icon">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
              </ion-avatar>
              <p>The action you take make a sale happen</p>
              <a>SCHEDULE AN ACTIVITY</a>
          </ion-item>
      </ion-list>
      <div *ngSwitchCase="'deals1'">
          <span item-left class="activity-status" *ngIf="open_length!=0">Open</span>
          <span item-right class="activity-status" *ngIf="open_length!=0">{{open_length}} deals .{{currency_data.open_currency | currency:currency_data.currency_sign:true}}</span>
          <div *ngIf="open_length!=0">
            <ng-container>
                <ion-list class="list-deal" *ngIf="open">
                    <ion-item *ngFor="let data of open" (click)="open_detail_page(data)">
                      <h3>{{data.deal_title}}</h3>
                      <span class="deal-left">{{data.deal_value | currency:data.deal_currency:true}}</span><span>-</span><span class="person">{{data.contactOrganization.contact_organization_name}}</span><span>-</span><span class="person">{{data.contactPerson.person_name}}</span>
                      <i aria-hidden="true" class="fa fa-exclamation-triangle deal-icon" item-end></i>
                  </ion-item>
                </ion-list>
              </ng-container>
          </div>

          <div>
            <ng-container *ngIf="open_length==0">
                <ion-item no-lines class="add-deal">
                    <ion-avatar item-left class="text-letter ">
                  <span><ion-icon name="logo-usd"></ion-icon></span>
                </ion-avatar>
                  <h4><span item-right>Deals are conversations you're having</span></h4>
                  <h4><span item-right>about business opportunities.</span></h4>
                  <a (click)="push_on_adddeal_page()">ADD A DEAL</a>
              </ion-item>
              </ng-container>
          </div>
          <span item-left class="deal-status activity-status" *ngIf="won_length!=0">Won</span>
          <span item-right class="deal-status activity-status" *ngIf="won_length!=0">{{won_length}} deals .{{currency_data.won_currency | currency:currency_data.currency_sign:true}}</span>
          <div *ngIf="won_length!=0">
            <ng-container color="secondary">
                <ion-list class="list-deal" *ngIf="won">
                  <ion-item class="won" *ngFor="let data of won" (click)="open_detail_page(data)">
                    <h3 class="won-color">{{data.deal_title}}</h3>
                    <span class="deal-left won-currency">{{data.deal_value | currency:data.deal_currency:true }}</span><span class="won-currency">-</span><span class="person won-currency">{{data.contactOrganization.contact_organization_name}}</span><span class="won-currency">-</span><span class="person won-currency">{{data.contactPerson.person_name}}</span>
                    <i aria-hidden="true" class="fa fa-exclamation-triangle deal-icon" item-end></i>
                </ion-item>
                </ion-list>
            </ng-container>
         </div>
          <span item-left class="deal-status activity-status" *ngIf="lost_length!=0">Lost</span>
          <span item-right class="deal-status activity-status" *ngIf="lost_length!=0">{{lost_length}} deals .{{currency_data.lost_currency | currency:currency_data.currency_sign:true}}</span>
          <div *ngIf="lost_length!=0">
            <ng-container>
              <ion-list class="list-deal" *ngIf="lost">
                <ion-item *ngFor="let data of lost" (click)="open_detail_page(data)">
                  <h3>{{data.deal_title}}</h3>
                  <span class="deal-left">{{data.deal_value | currency:data.deal_currency:true }}</span><span>-</span><span class="person">{{data.contactOrganization.contact_organization_name}}</span><span>-</span><span class="person">{{data.contactPerson.person_name}}</span>
                  <i aria-hidden="true" class="fa fa-exclamation-triangle deal-icon" item-end></i>
              </ion-item>
              </ion-list>
              </ng-container>
          </div>

          
      </div>
      <div *ngSwitchCase="'people'">
        <ion-item *ngFor="let data of person_data">
          <ion-icon name="person" item-left></ion-icon>
          <p *ngIf="person_data">{{data.person_name}}</p>
        </ion-item>
      </div>
  </div>
  <!-- <ion-fab right bottom #fab1>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="paper"></ion-icon></button>
      <button ion-fab (click)="push_on_activity_page()"><ion-icon name="calendar"></ion-icon></button>
      <button ion-fab (click)="push_on_adddeal_page()"><ion-icon name="logo-usd"></ion-icon></button>
      <button ion-fab><ion-icon name="attach"></ion-icon></button>
      <button ion-fab><ion-icon name="camera"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
