<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="contacts"></ion-tab>
</ion-tabs> -->
<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="logo-usd" (ionSelect)="myMethod()" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="calendar" (ionSelect)="myMethod()" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="person" (ionSelect)="myMethod()" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="search" (ionSelect)="myMethod()" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="more" (ionSelect)="myMethod()" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>