<ion-header>
	<div class="overlay-dashboard"></div>
	<ion-navbar color="navcolor">
    <ion-select interface="popover" [(ngModel)]="selected_pipeline" (ngModelChange)="change_pileline_stages(selected_pipeline)"
    		class="select-pipeline">
      <ion-option value="{{pipeline.uuid}}" *ngFor="let pipeline of pipeline_list">{{pipeline.pname}}</ion-option>
    </ion-select>
		<ion-buttons end>
	    <button ion-button class="sidebarCollapse-dashboard" icon-only>
	    	<ion-icon name="menu"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>
	<span padding class="stage-name">{{stages_value.stage}}</span> <br>
	<span padding>
		{{ set_currency + " " +stages_value.stage_currency_total}} 
		{{ stages_value.stage_deal_count}}
    <img *ngIf="image_value" style="float: right; margin: -17px 35px 0px 1px;" src="assets/imgs/Loading_icon.gif" width="10%">
  </span>
	<ion-segment class="SwipedTabs-tabs">
		<ion-segment-button *ngFor='let tab of tabs; let i = index' value="IngoreMe" (click)="selectTab(i)" 
		[ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' > 
			
		</ion-segment-button>
	</ion-segment>
	<!-- here is our dynamic line  "indicator"-->
	<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
</ion-header>

<!-- sidebar menu -->
<nav class="sidebar-dashboard">
  <ion-list-header class="header-back">
    <ion-icon class="dismiss-dashboard" name="close" item-start></ion-icon> 
    <span class="action-text">Choose Filter</span>
    <button class="pull-right" (click)="reset_sidebar('everyone')">RESET</button>
  </ion-list-header>

	<ion-scroll class="list-scroll" scrollY="true">
    <ion-list scroll="true">
		<ion-item-divider color="light">Users</ion-item-divider>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="reset_sidebar('everyone') || get_stages_data_by_users_filter('all')">
      	<span [ngStyle]="{'color': user_color === 'everyone' ? '#2ec95c' : '#000'}">Everyone</span>
      	<span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;"
      		[ngStyle]="{'color': user_color === 'everyone' ? '#2ec95c' : '#000', 
		      'display': display_icon === 'everyone' ? 'inline-block' : 'none' }">
		    </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines *ngFor="let user of user_list_data" 
      	(click)="reset_sidebar('user') || get_stages_data_by_users_filter(user.email)">
      	<span [ngStyle]="{'color': user_color === 'user' ? '#2ec95c' : '#000'}">{{user.nickname}}</span>
      	<span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
      		[ngStyle]="{'color': user_color === 'user' ? '#2ec95c' : '#000',
      		'display': display_icon === 'user' ? 'inline-block' : 'none' }">
		    </span>
      </button>

	  <ion-item-divider color="light">Filter</ion-item-divider>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="reset_sidebar('deleted') || filter_deal_data(4)">
      <span [ngStyle]="{'color': user_color === 'deleted' ? '#2ec95c' : '#000'}">All deleted deals</span>
      <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
      		[ngStyle]="{'color': user_color === 'deleted' ? '#2ec95c' : '#000',
      		'display': display_icon === 'deleted' ? 'inline-block' : 'none' }">
		  </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="reset_sidebar('lost') || filter_deal_data(3)">
      <span [ngStyle]="{'color': user_color === 'lost' ? '#2ec95c' : '#000'}">All lost deals</span>
      <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
      		[ngStyle]="{'color': user_color === 'lost' ? '#2ec95c' : '#000',
      		'display': display_icon === 'lost' ? 'inline-block' : 'none' }">
		  </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines (click)="reset_sidebar('open') || filter_deal_data(1)">
      <span [ngStyle]="{'color': user_color === 'open' ? '#2ec95c' : '#000'}">All open deals</span>
      <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
    		[ngStyle]="{'color': user_color === 'open' ? '#2ec95c' : '#000',
    		'display': display_icon === 'open' ? 'inline-block' : 'none' }">
	    </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines 
        (click)="reset_sidebar('won') || filter_deal_data(2)">
      <span [ngStyle]="{'color': user_color === 'won' ? '#2ec95c' : '#000'}">All won deals</span>
      <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
    		[ngStyle]="{'color': user_color === 'won' ? '#2ec95c' : '#000',
    		'display': display_icon === 'won' ? 'inline-block' : 'none' }">
	    </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines 
        (click)="reset_sidebar('More Than 3 month Old Deals') || filter_deal_data(5)">
      <span [ngStyle]="{'color': user_color === 'More Than 3 month Old Deals' ? '#2ec95c' : '#000'}">More Than 3 month Old Deals</span>
      <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
        [ngStyle]="{'color': user_color === 'More Than 3 month Old Deals' ? '#2ec95c' : '#000',
        'display': display_icon === 'More Than 3 month Old Deals' ? 'inline-block' : 'none' }">
      </span>
      </button>
      <button class="dismiss-sidebar" ion-item detail-none no-lines 
        (click)="reset_sidebar('Rotten Deals') || filter_deal_data(6)">
      <span [ngStyle]="{'color': user_color === 'Rotten Deals' ? '#2ec95c' : '#000'}">Rotten Deals</span>
      <span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-left: 25%;" 
        [ngStyle]="{'color': user_color === 'Rotten Deals' ? '#2ec95c' : '#000',
        'display': display_icon === 'Rotten Deals' ? 'inline-block' : 'none' }">
      </span>
      </button>
    </ion-list>
  </ion-scroll>
</nav>

<ion-content class="bg-style scroll-bar">
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="overlay-dashboard"></div>
	<ion-slides #SwipedTabsSlider (ionSlideDrag)="animateIndicator($event)"
							(ionSlideWillChange)="updateIndicatorPosition() || changeWillSlide($event)"
							(ionSlideDidChange)="updateIndicatorPosition()" 
							(pan)="updateIndicatorPosition()"
							[pager]="false">
		<ng-container *ngFor="let stg of stages_list; let j = index" [attr.data-index]="j">
			<ion-slide>
				<ion-list>
			  	<ion-item *ngFor="let data of stg.data" (click)="open_detail_page(data, j)">
				  	<h3>{{data.deal_title}}</h3>
				  	<span>{{data.deal_value | currency:data.deal_currency:true }}</span> <span>{{data.contact_organization_uuid}}</span>
				  	<i aria-hidden="true" class="{{data.activity_response.icon}}" 
				  		[ngStyle]="{'color': data.activity_response.color}" 
				  		item-end>
				  	</i>
				  </ion-item>
			  </ion-list>
        <div class="mgs-deal" *ngIf="stg.data.length == 0">
          <span>You can start a deal from any stage!</span>
          <p>Add a deal by tapping the green + button</p>
        </div>
			</ion-slide>
		</ng-container>
	</ion-slides>

	<ion-fab right bottom (click)="pushOnAddDeal()">
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>