.md, .ios{
  page-dashboard 
  {
      .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets { bottom: 0px; }
      .swiper-pagination-bullet-active{ background: #2ec95c; }
      ion-slide.swiper-slide { align-items: flex-start; }
      .swiper-slide{ overflow-y: auto;}
      // .item-cover{ height: 0%;}
      .segment-md .segment-button { height: 0rem; margin: 1px; border-bottom-width: 4px; 
        border-bottom-color: #777;
      }
      .segment-ios .segment-button { height: 0rem; margin: 1px; border-bottom-width: 3px; 
        border-bottom-color: #999; border-color: #999;}
      .SwipedTabs-indicatorSegment
      {
        // -webkit-transition: 0.3s all;
        // -moz-transition:  0.3s all;
        // -o-transition:  0.3s all;
        // transition:  0.3s all;
        // transform-origin: top 0 left 0;
        height: 4px;
        position: relative;
        top: -6px;
        background-color: black !important;
      }
      .SwipedTabs-tabs ion-segment-button
      {
        // border:none;
        // color:rgba(68, 68, 68, 0.74) !important;
        // background-color:white!important;
      }
       .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
      {
        // color:black !important;
      }
      .SwipedTabs-tabs
      {
        border-bottom: solid 1px #e6e6e6  !important;
      }
      ion-header{ background-color: white; }
      .stage-name{ font-weight: bold; }
      .select-text{ color: white; }
      .select {
        padding: 13px 3px 13px 8px;
      }
      .list-header-ios{ font-size: 2.2rem; }
      .mgs-deal{ text-align: center; margin-top: 50%; }
      .mgs-deal span{ font-weight: bold; }
      // SIDEBAR STYLE
      .header-back{background: #dedede;border-bottom: solid 1px #bdbdbd;}
      // .item-md .checkmark-icon{ font-size: 1.8rem; }
      .list-scroll{ width:100vw;height:100%;margin:0px;padding:0px; }
      .action-text{font-weight: 700;font-size: medium;}
      .sidebar-dashboard {
          width: 275px;
          position: fixed;
          top: 0;
          right: -300px;
          height: 100vh;
          z-index: 2000;
          background: white;
          color: #000;
          transition: all 0.3s;
          overflow-y: scroll;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
      }
      .sidebar-dashboard.active { right: 0; }
      .dismiss-dashboard{ font-size: 2em; }
      .overlay-dashboard {
          position: fixed;
          width: 100vw;
          height: 100vh;
          background: rgba(0, 0, 0, 0.7);
          z-index: 998;
          display: none;
      }
      /* end sidebar css */
  }
}