<ion-header>
  <ion-navbar color="navcolor">
    <ion-title>product-detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
      <ion-item *ngFor="let product of product_detail" (click)="product_edit(product)">
        <span class="pull-left">
          <h2 class="product-title">{{product.product_name}}</h2>
          <p class="productprice">{{product.price | currency:deal_currency:true}}*{{product.qty}}-{{product.discount}}%</p>
        </span>
        <span class="pull-right">
          <h2 class="product_sum">{{product.sum | currency:deal_currency:true}}</h2>
        </span>
      </ion-item>
      <div *ngIf="single_deal_obj">
        <h2 class="total" *ngIf="single_deal_obj.is_product"><span class="pull-left">Total</span></h2>
        <h2 class="total_price" *ngIf="single_deal_obj.is_product">
          <span class="pull-right">{{single_deal_obj.deal_value | currency:single_deal_obj.deal_currency:true }}</span>
        </h2>
        <span class="mgs-deal" *ngIf="!single_deal_obj.is_product">Add a product by tapping the green + button</span>
      </div>
    <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="push_on_product_list()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>