page-product-detail {
  .product-title{
    color: #1b1a1a;
  }
  .total{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500px;
    font-size: medium;
  }
  .total_price{
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 500px;
    font-size: medium;
  }
  .product_sum{
    font-size: 14px;
    font-weight: bold;
  }
  .productprice{
    font-size: 12px;
  }
  .mgs-deal{ 
    padding-top: 54%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px; }
}
