<ion-header>
  <ion-navbar color="navcolor">
    <img class="circle-pic" src="{{img_url}}">
    <div class="spn-clr">{{cognito_user_name}}</div> 
    <span class="cmpy">{{company_name}}</span>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <button padding ion-button (click)="onLogout()">Logout</button>
  <ion-item>
    <ion-icon name="trending-up" item-left></ion-icon>
    <span (click)="statistics()" class="change-pass change-password">Statistics</span>
  </ion-item> 
  <ion-item>
    <span  (click)="change_password()" class="change-pass change-password">Change password</span>
  </ion-item>
</ion-content>
