page-profile {
	.circle-pic{
	    width:50px;
	    height:50px;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    float: left;
	    margin-right: 10px;
	    border: solid 2px #fff;
	}
	.spn-clr{ color: white; font-weight: bold; margin-top:6px; text-transform: capitalize;}
	.cmpy{ color: white; }
	.change-pass{
		font-size: 13px;
    font-weight: bold;
  }
  .change-password {
		  padding: 5px;
		}
}