<ion-content padding>
	<div class="margin-header">
		<h2 class="heading-title">Company Registration</h2>
		<form *ngIf="company_loader_img; else loading">
		  <ion-item>
		    <ion-label floating>Company Name</ion-label>
		    <ion-input type="text" (focusout)="focusOutFunction($event)" required 
		    	[(ngModel)]="company_name" name="company_name">
		    </ion-input>
		  </ion-item>

		  <p padding class="validation-msg" *ngIf="validation_error">
	      Table names must be between 3 and 255 characters long, 
	      and allowed characters are a-z, A-Z, 0-9, ., _, and -.
	    </p>

		  <ion-item>
		    <ion-label>Select Employees</ion-label>
		    <ion-select [(ngModel)]="employee_size" name="employee_size">
		      <ion-option [value]="emp.value" *ngFor="let emp of employees">{{emp.employee}}</ion-option>
		    </ion-select>
		  </ion-item>

		  <ion-item>
		    <ion-label>Organization type</ion-label>
		    <ion-select [(ngModel)]="category" name="category">
		      <ion-option *ngFor="let org of Organization" [value]="org.value">{{org.name}}</ion-option>
		    </ion-select>
		  </ion-item>

		 	<div padding>
		  	<button ion-button full class="sign-up-btn" [disabled]="submite_disabled" 
		  		(click)="create_company()">
		  		SUBMIT
		  	</button>
		 	</div>
	  </form>
  </div>
  <ng-template #loading>
    <div class="text-center loder-image">
      <img src="assets/imgs/Loading_icon.gif">
      <p style="font-weight: bold;">Setting up your account</p>
    </div>
	</ng-template>
</ion-content>