.md, .ios{
	page-contact {
		.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets { bottom: 0px; }
	  .swiper-pagination-bullet-active{ background: #2ec95c; }
	  ion-slide.swiper-slide { align-items: flex-start; }
		.swiper-slide{ overflow-y: auto;}
    .mgs-deal{ text-align: center; margin-top: 50%; font-size: 14px; }
    .mgs-deal span{ font-weight: bold; font-size: 14px; }
	}
  
}