<ion-header>
  <ion-navbar color="navcolor">
	  <ion-searchbar	[(ngModel)]="myInput"	[showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">

		</ion-searchbar>
		<ion-buttons end>
      <!-- <button ion-button class="sidebarCollapse" icon-only><ion-icon name="menu"></ion-icon></button> -->
    </ion-buttons>
	</ion-navbar>
	<ion-segment color="dark" [(ngModel)]="tabs">
 		<ion-segment-button (click)="selectTab(0)" value="0">people</ion-segment-button>
 		<ion-segment-button (click)="selectTab(1)" value="1">organizations</ion-segment-button>
	</ion-segment>
</ion-header>
<nav class="sidebar">
  <div class="dismiss-contact">
      <i class="glyphicon glyphicon-arrow-left"></i>
  </div>
</nav>
<ion-content class="bg-style">
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="pull to refresh"></ion-refresher-content>
	</ion-refresher>
	<div class="overlay"></div>
	<ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
	 	<ion-slide>
	 		<ion-list>
        <div class="mgs-deal" *ngIf="personmessage == 0">
            <span>You contacts are your treasure trove</span>
            <p>Right now you don't have people on record,but it's easy to change that.</p>
            <span>Add a person by tapping the green + button</span>
        </div>
	 			<ng-container *ngFor="let data of searchobject">
				  <ion-item (click)="push_on_persondetail(data.uuid)">
				  	<ion-avatar item-start class="text-letter">
				 		<span>{{data.person_name.charAt(0).toUpperCase()}}</span>
				    </ion-avatar>
			      <span style="font-weight: bold;">{{data.person_name}}</span>
			      <p>{{data.org_name}}</p>
				  </ion-item>
				</ng-container>
			</ion-list>
	 	</ion-slide>
    <ion-slide>
	 		<ion-list>
        <div class="mgs-deal" *ngIf="orgmessage == 0">
            <span>You contacts are your treasure trove</span>
            <p>Right now you don't have people on record,but it's easy to change that.</p>
            <span>Add an organisation by tapping the green + button</span>
        </div>
			  <ng-container *ngFor="let data of contact_org_list">
				  <ion-item (click)="push_on_organisationdetail(data)">
			      <span >{{data.contact_organization_name}}</span>
				  </ion-item>
				</ng-container>
			</ion-list> 	
	 	</ion-slide>
	</ion-slides>
  <ion-fab right bottom (click)="push_on_create_page()">
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>