<ion-header>
  <ion-navbar>
    <ion-title>lost-reason</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="lost_deal(lost_reason.value)">SAVE</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="bg-style">
	<ion-item>
    <ion-label floating>Enter Lost Reason</ion-label>
    <ion-input type="text" autofocus #lost_reason></ion-input>
  </ion-item>
</ion-content>