<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>change-password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="myform">
    <ion-item [ngClass]="{
      'has-error': !myform.controls.oldPassword.valid,
      'has-success': myform.controls.oldPassword.valid && (myform.controls.oldPassword.dirty || myform.controls.oldPassword.touched)
      }">
      <ion-label floating>Current Password</ion-label>
      <ion-input [type]="password_type" required [(ngModel)]="oldPassword" formControlName="oldPassword"></ion-input>
      <ion-icon name="eye" item-right *ngIf="password_type == 'text'" (click)="togglePasswordMode()"></ion-icon>
      <ion-icon name="eye-off" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'password'"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>New Password</ion-label>
      <ion-input [type]="new_password" required [(ngModel)]="newPassword" formControlName="newPassword"></ion-input>
      <ion-icon name="eye" item-right *ngIf="new_password == 'text'" (click)="newPasswordToggle()"></ion-icon>
      <ion-icon name="eye-off" item-right (click)="newPasswordToggle()" *ngIf="new_password == 'password'"></ion-icon>
    </ion-item>
    <ion-item >
      <ion-label floating>Confirm Password</ion-label>
      <ion-input [type]="confirm_password_type" required [(ngModel)]="confirm_password" formControlName="confirm_password"></ion-input>
      <ion-icon name="eye" item-right *ngIf="confirm_password_type == 'text'" (click)="confirmPasswordToggle()"></ion-icon>
      <ion-icon name="eye-off" item-right (click)="confirmPasswordToggle()" *ngIf="confirm_password_type == 'password'"></ion-icon>
    </ion-item>
    <span padding *ngIf="!myform.controls.confirm_password.valid && (myform.controls.confirm_password.dirty)" style="color: #f53d3d;;">Passwords do not match!</span>
    <div padding>
      <button ion-button color="secondary" type="submit" (click)="change_password()">Change Password</button>
    </div>
  </form>
</ion-content>