// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.md, .ios{
	.sign-up-btn.button-full.button-outline { border-right-width: 1px; border-left-width: 1px; }
	.label{ text-align: left; color: rgba(0, 0, 0, 0.68); padding: 0px; font-weight: 400; }
	.heading-title{ text-align: center; }
	.bg-style{ background-color: #eee; }
	.text-letter{ min-width: 0px; min-height: 0px; }
	.text-letter span{ background: #2ec95c; padding: 8px 13px 8px;border-radius: 20px; }
	.segment-ios .segment-button:first-of-type {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0px;
    // margin-right: 0;
	}

	.segment-ios .segment-button:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    // margin-left: 0;
	}
	.margin-header{ margin-top: 15%; }
}	
	.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child{padding-top: calc(20px + 10px);}
