page-person-detail {

.activity-status{float: left; padding: 8px; font-size:smaller; color:rgba(0,0,0,0.64);}
.circle-pic{
	    width:50px;
	    height:50px;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    float: left;
	    margin-right: 10px;
	    border: solid 2px #fff;
	}

.bg-style .scroll-content{
		margin-top: 45px;
		overflow-y: auto;
	}
.deal-status{    
	    margin-top: 8px;
	    margin-bottom: 8px;
    }
.deal-icon{
   color:rgb(236, 203, 17);

 }
.won{
   background-color: #2ec95c;
 }
.person{ 
 	margin-right:5px;
 	margin-left:5px;
 }
.deal-left{
    margin-right:5px;
 }
.won-color{ color: white; }
.won-currency{ color:#f9f2f2; }
.open-icon{background-color: #242A31;}
.add-deal{ padding:15px; }
.text-letter{
    background: #2ec95c;
    padding: 8px 1px 8px;
    border-radius: 24px;
}
.icon-color{
	color:rgba(0, 0, 0, 0.68);
}
.mgs-deal{ text-align: center; margin-top: 50%; }
.mgs-deal span{ font-weight: bold; }
 .or-label {
    width: 20%;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 10em;
    height: 50px;
    text-align: center;
  }
  .detail-scroll{
    height: 384px;
    overflow-y: auto;
  }
}
