.md, .ios{
	page-add-person {
		.select-md {
	    padding: 13px 3px 13px 0px;
		}
		.item-cover{ height: 0%;}
		
		.bg-style .label{ font-size: 100% }
		.text-input{ color: #2ec95c; text-shadow: 0px 0px 0px #000; -webkit-text-fill-color: transparent; }
		
		// /* Workaround to hide android default validation colors */
		ion-item.item-md.item-input.input-has-focus .item-inner,
		ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
		ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
		    border-bottom-color: #ffffff;
		    box-shadow: 2px solid #ffffff;
		}
		.select-opt.select-ios {
    	padding: 0px 0px 0px 0px;
    }
	}
}