<ion-header>
  <ion-navbar color="navcolor">
    <ion-title *ngIf="value==0">{{form_value ? 'Edit Person' : 'Add Person'}}</ion-title>
    <ion-title *ngIf="value==1">{{form_value ? 'Edit Organisation' : 'Add Organisation'}}</ion-title>
    <ion-buttons end>
    	<button ion-button icon-only *ngIf="!form_value" (click)="save_data()">SAVE</button>
    	<button ion-button icon-only *ngIf="form_value" (click)="update_data()">UPDATE</button>
    	<button ion-button icon-only *ngIf="form_value" (click)="deletePerson()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style no-scroll">
	<form [formGroup]="myForm" novalidate *ngIf="value==0">
		<ion-item>
	    <ion-icon item-left name="person"></ion-icon>
	    <ion-label floating>Name</ion-label>
	    <ion-input formControlName="person_name" type="text" [(ngModel)]="person_data.person_name"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-icon item-left name="podium"></ion-icon>
	    <ion-label floating>Link an organization</ion-label>
	    <ion-input (focus)="contact_org_search_page(input)" tappable 
	    	formControlName="organization_name" #input type="text" [(ngModel)]="person_data.contact_organization_name">
      </ion-input>
      <ion-icon name="{{org_icon}}" #iconinput item-right (click)="person_icon(iconinput)" ></ion-icon>
	  </ion-item>
		<ion-list></ion-list>

		<div formArrayName="person_email">
			<div *ngFor="let address of myForm.controls.person_email.controls; let i=index"  
				[formGroupName]="i">
			  <ion-item>
			    <ion-icon item-left name="mail"></ion-icon>
			    <ion-label floating>Email address</ion-label>
			    <ion-input type="email" formControlName="email" [(ngModel)]="person_data.person_email"></ion-input>
			  </ion-item>

			  <ion-item>
			  	<ion-icon item-left></ion-icon>
			    <ion-select interface="popover" class="select-opt" formControlName="selF">
			      <ion-option value='Work' [selected]="true">Work</ion-option>
		        <ion-option value='Home'>Home</ion-option>
		        <ion-option value='Mobile'>Mobile</ion-option>
		        <ion-option value='Other'>Other</ion-option>
			    </ion-select>
			  </ion-item>
			</div>
		</div>

	  <div formArrayName="person_phone">
		  <div *ngFor="let address of myForm.controls.person_phone.controls; let i=index;" 
		  	[formGroupName]="i">
			  <ion-item>
			    <ion-icon item-left name="call"></ion-icon>
			    <ion-label floating>Phone number</ion-label>
			    <ion-input type="tel" formControlName="phone" [(ngModel)]="person_data.person_phone"></ion-input>
			  </ion-item>
			  <ion-item>
			  	<ion-icon item-left></ion-icon>
			    <ion-select interface="popover" class="select-opt" formControlName="selF">
			      <ion-option value='Work' [selected]="true">Work</ion-option>
		        <ion-option value='Mobile'>Mobile</ion-option>
		        <ion-option value='Other'>Other</ion-option>
			    </ion-select>
			  </ion-item>
			</div>
		</div>

		<ion-item>
		  <ion-icon item-left></ion-icon>
	    <ion-label floating>Owner</ion-label>
	    <ion-select interface="popover" formControlName="owner_id" [ngModel]="current_owner_name">
	      <ion-option *ngFor="let user of user_list_data" [value]="user.email">
	      	{{ user.email == current_owner_name ? user.nickname + '(you)' : user.nickname }}
	      </ion-option>
	    </ion-select>
	  </ion-item>

	  <ion-item>
		  <ion-icon item-left></ion-icon>
	    <ion-label floating>Visible to</ion-label>
	    <ion-select interface="popover" formControlName="owner_follower">
	      <ion-option value="false">Owner & Followers</ion-option>
	      <ion-option value="true">Entire company</ion-option>
	    </ion-select>
	  </ion-item>
	</form>

	<form [formGroup]="organizationForm" novalidate *ngIf="value==1">
		<ion-item >
		    <ion-icon item-left name="podium"></ion-icon>
		    <ion-label floating>Name</ion-label>
		    <ion-input  type="text" formControlName="contact_organization_name" [(ngModel)]="organisation_data.contact_organization_name"></ion-input>
	   </ion-item>
		<ion-list></ion-list>
		
		<ion-item >
	    <ion-icon item-left name="locate"></ion-icon>
	    <ion-label floating>Address</ion-label>
	    <ion-input  type="text" formControlName="address" [(ngModel)]="org_address"></ion-input>
	  </ion-item>

		<ion-item>
		  <ion-icon item-left></ion-icon>
	    <ion-label floating>Owner</ion-label>
	    <ion-select interface="popover" formControlName="owner_id" [ngModel]="current_owner_name">
	      <ion-option *ngFor="let user of user_list_data" [value]="user.email">
	      	{{ user.email == current_owner_name ? user.nickname + '(you)' : user.nickname }}
	      </ion-option>
	    </ion-select>
	  </ion-item>

		<ion-item>
		  <ion-icon item-left></ion-icon>
	    <ion-label floating>Visible to</ion-label>
	    <ion-select interface="popover" formControlName="owner_follower">
	      <ion-option value="false">Owner & Followers</ion-option>
	      <ion-option value="true">Entire company</ion-option>
	    </ion-select>
	  </ion-item>
	</form>
</ion-content>