<ion-header>
  <ion-navbar color="navcolor">
  <ion-title>deal detail</ion-title>
  	<ion-buttons end (click)="pushOnAddDealEdit()">
	    <button ion-button icon-only>
	    	<i class="fa fa-pencil" aria-hidden="true"></i>
	    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
	<ion-list>
	  <ion-item no-lines *ngIf="deal">
	    <h2 class="deal-title">{{deal.deal_title}}</h2>
	    <ion-icon name="person" class="deal-icon"></ion-icon><span class="deal-icon" (click)="on_person()">{{deal.contact_person_uuid.person_name}}</span>
	    <ion-icon name="podium" class="deal-icon"></ion-icon><span (click)="on_organisation()">{{deal.contact_organization_uuid.contact_organization_name}}</span>
	  </ion-item>
    <!-- slidesPerView="1.5" -->
    <ion-slides #slides (ionSlideWillChange)="changeSlide($event)">
		  <ion-slide style="background-color: #d4f7ef" *ngFor="let data of pipeline_stages">
		    <p>{{data.stage}}</p>
		  </ion-slide>
	  </ion-slides>

	  <div class="pipelineSummary">
      <div class="pipelineStages won">
        <ul>
          <li class="{{index >= i ? 'active' : ''}}" *ngFor="let data of pipeline_stages; let i = index;">
            <div class="stageContent"></div>
          </li>
        </ul>
      </div>
	  </div>

  	<ion-item *ngIf="deal" no-lines>
        <span class="pull-left">
          <h2 class="deal-title">{{deal.deal_value | currency:deal.deal_currency:true }}</h2>
          <a (click)="push_on_product(deal.uuid)">
            <p style="color: #317ae2;">{{ product_qty > 0 ? (product_qty + ' product') : 'Add Product' }}</p>
          </a>
        </span>
        
    		<span class="pull-right" >
  	      <button ion-button item-right small *ngIf="deal.dealstatus!=3 && deal.dealstatus!=2 && deal.dealstatus!=4" (click)="update_won(2)">WON</button>
  	      <button ion-button item-right small color="danger"  *ngIf="deal.dealstatus!=3 && deal.dealstatus!=2 && deal.dealstatus!=4" (click)=lost_reason()>LOST</button>
  	      <button ion-button round outline *ngIf="deal.dealstatus==2" disabled>WON</button>
  	      <button *ngIf="deal.dealstatus==3" ion-button disabled round outline color="danger">LOST</button>
  	      <button *ngIf="deal.dealstatus==4" ion-button disabled round outline color="danger">DELETED</button>
  	      <button ion-button item-right small *ngIf="deal.dealstatus==3 || deal.dealstatus==2 || deal.dealstatus==4" (click)="update_reopen(1)">Reopen</button>
        </span>
    </ion-item>
  
	</ion-list>

	<ion-segment color="dark" [(ngModel)]="tabs">
    <ion-segment-button (click)="selectTab(0)" value="0">TIMELINE</ion-segment-button>
 		<ion-segment-button (click)="selectTab(1)" value="1">DETAILS</ion-segment-button>
  </ion-segment>
 
  <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
	 	<ion-slide>
      <ion-list>
 				<span class="activity-status">Planned</span>
			  <ion-item *ngIf="addActivity_length==0">
			  	<ion-avatar item-start class="calendar-icon">
			  		<i class="fa fa-calendar-check-o"></i>
			    </ion-avatar>
			    <p>The action you take make a sale happen</p>
			  	<a (click)="push_on_activity_page()">SCHEDULE AN ACTIVITY</a>
			  </ion-item>
        <ion-item *ngFor="let activivityfalse of activities_status_false;" 
          (click)="push_on_edit_activity(activivityfalse)">
          <ion-avatar item-left class="text-letter">
            <i class="{{activivityfalse.activity_fa_fa_icon}}"></i>
          </ion-avatar>
          <ion-label>
            <h3>{{activivityfalse.activityTitle}}</h3>
            <span class="deal-icon activity-color">{{activivityfalse.activity_date}}</span><span class="deal-icon activity-color">{{activivityfalse.activity_start_time}}</span><span class="deal-icon">.</span><span class="deal-icon">{{activivityfalse.contact_person_name}}</span><span class="deal-icon">.</span><span>{{activivityfalse.contact_organization_name}}</span>
          </ion-label>
          <ion-checkbox checked="false" class="check-box-radio" item-right (click)="change_activity_status(activivityfalse.uuid, false)"></ion-checkbox>
        </ion-item>
        <span class="activity-status" *ngIf="activity_length!=0">Past</span>
        <ion-item *ngFor="let activivitytrue of activities_status_true;" 
          (click)="push_on_edit_activity(activivitytrue)">
          <ion-avatar item-left class="text-letter">
            <i class="{{activivitytrue.activity_fa_fa_icon}}" aria-hidden="true"></i>
          </ion-avatar>
          <ion-label>
            <h3>{{activivitytrue.activityTitle}}</h3>
            <span class="deal-icon">{{activivitytrue.activity_date}}</span><span class="deal-icon">{{activivitytrue.activity_start_time}}</span><span class="deal-icon">.</span><span class="deal-icon">{{activivitytrue.contact_person_name}}</span><span class="deal-icon">.</span><span>{{activivitytrue.contact_organization_name}}</span>
          </ion-label>
          <ion-checkbox checked="true" class="check-box-radio" item-right (click)="change_activity_status(activivitytrue.uuid, true)"></ion-checkbox>
          checked="true" 
                                  
        </ion-item>
			</ion-list>
	 	</ion-slide>

	 	<ion-slide class="detail-scroll">
	 		<ion-list class="item-slide-2" *ngIf="deal">
			  <ion-item>
			    <ion-label floating>Expected close date</ion-label>
			    <ion-input type="text" value="{{deal.expected_close_date | date}}"></ion-input>
			  </ion-item>
			  <ion-item>
			    <ion-label floating>Owner</ion-label>
			    <ion-input type="text" value="{{deal.user_username}}"></ion-input>
			  </ion-item>
			  <ion-item>
			    <ion-label floating>Created</ion-label>
			    <ion-input type="text" value="{{deal.created_date | date}}"></ion-input>
			  </ion-item>
			  <ion-item>
			    <ion-label floating>Last updated</ion-label>
			    <ion-input type="text" value="{{deal.updated_date | date}}"></ion-input>
			  </ion-item>

        <ion-item>
           <span>Custom Fields</span>
        </ion-item>
          <!-- <ion-input type="text" value="{{deal.user_username}}"></ion-input> -->
        <ng-container *ngFor="let deal_field of contacts_deal_fields_obj">
            <ng-container *ngIf="deal_field.is_type == 'Text'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="deal_field.is_type == 'Large text'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="deal_field.is_type == 'Date'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="deal_field.is_type == 'Single option'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="deal_field.is_type == 'Multiple option'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="deal_field.is_type == 'Time'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="deal_field.is_type == 'Numerical' || 
              deal_field.is_type == 'Phone'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value}}"></ion-input>
              </ion-item>
            </ng-container>
            <!--<ng-container *ngIf="deal_field.is_type == 'Date range'">
              <ion-item>
                <ion-label floating>{{deal_field.label}}</ion-label>
                <ion-input (focus)="custom_fields(deal_field)" tappable type="text" value="{{deal_field.value.formatted}}"></ion-input>
              </ion-item>
            </ng-container>-->
        </ng-container>
        
      </ion-list>
	 	</ion-slide>
	</ion-slides>


	<!-- <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab> -->

  <!-- <ion-fab right bottom #fab1>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="paper"></ion-icon></button>
      <button ion-fab (click)="push_on_activity_page()"><ion-icon name="calendar"></ion-icon></button>
      <button ion-fab><ion-icon name="attach"></ion-icon></button>
      <button ion-fab><ion-icon name="camera"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>

