.md, .ios{
	page-deal-detail {
  		.list { margin: -1px 0 0px; }
  		.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets { bottom: 0px; }
  	  .swiper-pagination-bullet-active{ background: #2ec95c; }
  	  ion-slide.swiper-slide { align-items: flex-start; }
  		.swiper-slide{ overflow-y: auto;}
  		ion-slides{ height: auto;}
  		.calendar-icon{ min-width: 0px; min-height: 0px; }
  		.activity-status{float: left; padding: 8px; font-size:smaller; color:rgba(0,0,0,0.64);}
  		.item-slide-2 .item{ background-color: #eeeeee; }
  		.input-cover{position: static;}
      .deal-title{ font-weight: bold;}
      .deal-icon{ margin-right:5px; }
      .activity-color{ color:#e62626;}

      .text-letter{
            background: #e0e0e0;
            padding: 8px 8px 5px;
            border-radius: 15px;
        }      

      .check-box-radio .item-cover {
          left: 0;
          top: 0;
          position: relative;
          width: 100%;
          height: 100%;
          background: transparent;
          cursor: pointer;
      }
  }
}
  .pipelineSummary .pipelineStages {
      position: relative;
      display: table;
      height:10px;
      overflow: visible;
      background-color:#fff;
  }
  .pipelineSummary .pipelineStages ul {
    width: 100%;
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    height: 10px;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }

  .detail-scroll{
    height: 300px;
  }

  // .list-scroll{ width:100vw;height:100%;margin:0px;padding:0px; }
  .pipelineSummary .pipelineStages.open ul li.active, .pipelineSummary .pipelineStages.won ul li.active {
      /*background: #8cc739;*/
  }
  .pipelineSummary .pipelineStages ul li .stageContent {
      position: relative;
  }
  .pipelineSummary .pipelineStages ul li .stageContent .stagename {
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: 4px;
  }
  .pipelineSummary .pipelineStages ul li:first-child .stageContent .stageArrow {
      display: none;
  }
  .pipelineSummary .pipelineStages ul li .stageContent .stageArrow {
    width: 6px;
    height: 30px;
    position: absolute;
    top: -6px;
    left: 0px;
    overflow: hidden;
  }
  .pipelineSummary .pipelineStages ul li:first-child {
    -moz-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pipelineSummary .pipelineStages ul li {
      position: relative;
      background: #9be5d9;
      display: table-cell;
      text-align: left;
      line-height: 1.3em;
      vertical-align: middle;
      color: #fff;
      text-align: center;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .pipelineSummary .pipelineStages.open ul li.active, .pipelineSummary .pipelineStages.won ul li.active { background:#2ec95c; }
  .pipelineSummary .pipelineStages ul li:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .pipelineStages li:before {
    width: 20px;
    height: 25px;
    position: absolute;
    right: -8px;
    top: -6px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    -webkit-transform: scaleX(0.3) rotate(45deg);
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    /* background: #8cc739; */
    cursor: pointer;
    z-index: 1;
  }
  


  .pipelineStages li.active:before{ background:#2ec95c; }

  // .swiper-slide:last-child {
  //     width: 100% !important;
  // }