page-add-activity {

.call{
  font-weight: bold;
}
.icon{
  font-size: large;
}
.bg-style .label{ font-size: 95% }
.text-input{ color: #2ec95c; text-shadow: 0px 0px 0px #000; -webkit-text-fill-color: transparent; }
}
