<ion-header>
  <ion-navbar>
    <ion-title *ngIf="value==0">Add Activity</ion-title>
    <ion-title *ngIf="value==1">Edit Activity</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="value==0" (click)="save_activity()">SAVE</button>
      <button ion-button icon-only *ngIf="value==1" (click)="save_activity()">UPDATE</button>
      <button ion-button icon-only *ngIf="value==1"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <form [formGroup]="activity_form" novalidate>
    <ng-container *ngIf="fa_icon">
      <ion-item>
        <ion-checkbox checked="false" item-left></ion-checkbox>
        <ion-input type="text" value="{{activity_data.activityTitle}}"></ion-input>
        <ion-select formControlName="activityTitle" interface="popover" [(ngModel)]="activity_data.activityTitle">
          <ion-option *ngFor="let icon of fa_fa_icon_list" [value]="icon.label" (ionSelect)="activity_fa_icon(icon.tooltip_name, icon.fa_fa_icon, icon.uuid)">
            <i class="{{icon.fa_fa_icon}}" aria-hidden="true"></i><span>{{icon.label}}</span>
          </ion-option>
        </ion-select>
      </ion-item>
    </ng-container>
    
    <ion-item>
      <ion-icon item-left name="alarm"></ion-icon>
      <ion-label color="primary" stacked>Date</ion-label>
      <ion-input formControlName="activity_date" type="date" [(ngModel)]="activity_data.activity_date" placeholder="Today">Today</ion-input>
    </ion-item>
      
    <ion-item>
      <ion-icon item-left></ion-icon>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="activity_data.activity_start_time"
       formControlName="activity_start_time">
      </ion-datetime>
    </ion-item>

    <ion-item>
          <ion-icon item-left></ion-icon>
          <ion-label>End Time</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="activity_data.activity_end_time"
           formControlName="activity_end_time">
          </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-icon item-left></ion-icon>
      <ion-label color="primary" stacked>Assigned to</ion-label>
      <ion-select  interface="popover" name="owner_id" [ngModel]="owner_id" (ionChange)="get_owner_name($event);" formControlName="owner_id">
        <ion-option *ngFor="let user of user_list_data" [value]="user.email"> {{ user.email == selected_owner_id ? user.nickname + '(you)' : user.nickname }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon item-left name="paper"></ion-icon>
      <ion-textarea placeholder="Add a note" formControlName="activity_editor" [ngModel]="activity_data.activity_editor"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-icon item-left name="person"></ion-icon>
      <ion-label color="primary" stacked>Link a person</ion-label>
      <ion-input formControlName="contact_person_name" type="text" tappable (focus)="push_on_person_search_page()" value="{{activity_data.contact_person_name}}"></ion-input>
      <ion-icon item-right name="add"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon item-left name="podium"></ion-icon>
      <ion-label color="primary" stacked>Link a Organization</ion-label>
      <ion-input  formControlName="contact_organization_name" type="text" tappable (focus)="contact_org_search_page()" value="{{activity_data.contact_organization_name}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon class="icon" name="logo-usd" item-left></ion-icon>
      <ion-label color="primary" stacked>Deal Title</ion-label>
      <ion-input  formControlName="deal_title" type="text" tappable value="{{activity_data.deal_title}}"></ion-input>
    </ion-item>
  </form>
</ion-content>