<ion-header>
  <!--<ion-navbar>
    <ion-title>lost-reason</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="lost_deal(lost_reason.value)">SAVE</button>
    </ion-buttons>
  </ion-navbar>-->
  <ion-navbar>
    <ion-title *ngIf="deal_field">{{deal_field.label}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="update_single_deal_custom_field_value(deal_form_data)" *ngIf="value==0">SAVE</button>
      <button ion-button icon-only (click)="update_single_org_custom_field_value('contacts_persons',deal_form_data)" *ngIf="value==1">SAVE</button>
      <button ion-button icon-only (click)="update_org_custom('contacts_organizations',deal_form_data)" *ngIf="value==2">SAVE</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <!--<ion-item>
    <ion-label floating>Enter Lost Reason</ion-label>
    <ion-input type="text" autofocus #lost_reason></ion-input>
  </ion-item>
  <ion-item *ngIf="custom_value">
    <ion-input type="text" autofocus #lost_reason></ion-input>
  </ion-item>-->
  <form #deal_form_data="ngForm">
    <ion-item *ngIf="deal_field.is_type == 'Text'">
      <ion-input type="text" autofocus [ngModel]="deal_field.value" name="{{deal_field.field_api_key}}"></ion-input>
    </ion-item>

    <!--<ng-container *ngIf="deal_field.is_type == 'Multiple option'">
      <ion-item *ngFor="let multiple of deal_field.multiple_value">
        <ion-checkbox  [checked]="get_multipleoption(multiple, deal_field.value)"></ion-checkbox>
        <ion-label>{{multiple}}</ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="deal_field.is_type == 'Single option'">
      <ion-item *ngFor="let multiple of deal_field.multiple_value">
        <ion-label>{{multiple}}</ion-label>
        <ion-radio [checked]="get_singleoption(multiple, deal_field.value)"></ion-radio>
      </ion-item>
    </ng-container>-->
    <ion-item *ngIf="deal_field.is_type == 'Time'">
      <ion-input type="time" placeholder="Today" value="{{deal_field.value}}" name="{{deal_field.field_api_key}}" [(ngModel)]="deal_field.value"></ion-input>
    </ion-item>
    
    <ng-container *ngIf="deal_field.is_type == 'Large text'">
      <ion-item>
        <ion-input type="text" value="{{deal_field.value}}" name="{{deal_field.field_api_key}}" [(ngModel)]="deal_field.value"></ion-input>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="deal_field.is_type == 'Numerical' || 
                deal_field.is_type == 'Phone'">
      <ion-item>
        <ion-input type="text" value="{{deal_field.value}}" name="{{deal_field.field_api_key}}" [(ngModel)]="deal_field.value"></ion-input>
      </ion-item>
    </ng-container>
    <!--<ng-container *ngIf="deal_field.is_type == 'Date range'">
      <ion-item *ngIf="start_date">
        <ion-label floating>Start Date</ion-label>
        <ion-input type="date" value="{{start_date}}" name="{{deal_field.field_api_key}}" [(ngModel)]="start_date"></ion-input>
      </ion-item>
      <ion-item *ngIf="end_date">
        <ion-label floating>End Date</ion-label>
        <ion-input type="date" value="{{end_date}}"></ion-input>
      </ion-item>
    </ng-container>-->
    <ng-container *ngIf="deal_field.is_type == 'Date'">
      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-input type="date" value="{{deal_field.value}}" [ngModel]="deal_field.value" name="{{deal_field.field_api_key}}"></ion-input>
      </ion-item>
    </ng-container>
  </form>
</ion-content>