<ion-header>
  <ion-navbar>
    <ion-searchbar [showCancelButton]="shouldShowCancel"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ng-container *ngFor="let data of person_data">
		  <ion-item (click)="goToBack_person(data.person_name, data.uuid)">
		  	<ion-avatar item-start class="text-letter">
		 			<span>{{data.person_name.charAt(0).toUpperCase()}}</span>
		    </ion-avatar>
	      <span>{{data.person_name}}</span>
		  </ion-item>
		</ng-container>

		<ng-container *ngFor="let data of contact_org_list">
		  <ion-item (click)="goToBack_org(data.contact_organization_name, data.uuid)">
	      <span>{{data.contact_organization_name}}</span>
		  </ion-item>
		</ng-container>

    <ng-container *ngFor="let data of product_list_data">
      <ion-item (click)="add_to_product(data)">
        <span>{{data.product_name}}</span><br>
        <span>{{data.price | currency:data.product_currency:true}}</span>
      </ion-item>
    </ng-container>
	</ion-list>
	<ion-fab right bottom *ngIf="value!=2" (click)="push_on_create_person_page()">
    <button ion-fab color="secondary"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>
</ion-content>