page-add-product {
  .product-title{
    color: #1b1a1a;
  }
  .total{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500px;
    font-size: medium;
  }
  .total_price{
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 500px;
    font-size: medium;
  }
  
}
