<!--
  Generated template for the AddProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="navcolor">
    <ion-title *ngIf="value==0">Add Product</ion-title>
    <ion-title *ngIf="value==1">Edit Product</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="value==0" (click)="save_product()">SAVE</button>
      <button ion-button icon-only *ngIf="value==1" (click)="update_product()">UPDATE</button>
      <button ion-button icon-only *ngIf="value==1" (click)="delete_product()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content  class="bg-style">
  <h2 class="product-title">{{product_object.product_name}}</h2>
  <ion-item>
    <ion-label floating>Price</ion-label>
    <ion-input type="number" [(ngModel)]="product_object.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Quantity</ion-label>
    <ion-input type="number" [(ngModel)]="product_object.qty"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Discount</ion-label>
    <ion-input type="number" [(ngModel)]="product_object.discount"></ion-input>
  </ion-item>
  <h2 class="total"><span class="pull-left">Total</span></h2>
  <h2 class="total_price"><span class="pull-right">{{product_object.sum}}</span></h2>
</ion-content>