<ion-header>
  <ion-navbar>
    <ion-title>Forget Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="!showResetPassword">
    <ion-item>
      <ion-label floating>Enter your email address</ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email" autofocus></ion-input>
    </ion-item>
    <div padding>
        <button ion-button color="secondary" (click)="onNext()">Next</button>
    </div>
  </form>
  <form *ngIf="showResetPassword">
    <p>Find verification code on your email address & Enter your confirmation code</p>
    <ion-item>
      <ion-label floating>Verification Code</ion-label>
      <ion-input type="text" required [(ngModel)]="verificationCode" name="confirmation" autofocus></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>New password</ion-label>
      <ion-input [type]="password_type" required [(ngModel)]="password" name="password"></ion-input>
      <ion-icon name="eye" item-right *ngIf="password_type == 'text'" (click)="togglePasswordMode()"></ion-icon>
      <ion-icon name="eye-off" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'password'"></ion-icon>
    </ion-item>
    <div padding>
      <button ion-button color="secondary" (click)="onConfirmNewPassword()">Save</button>
    </div>
  </form>
</ion-content>
