.md, .ios{
	page-add-deal {
		.bg-style .label{ font-size: 100% }
		.text-input{ color: #2ec95c; text-shadow: 0px 0px 0px #000; -webkit-text-fill-color: transparent; }
		
		/* Workaround to hide android default validation colors */
		ion-item.item-md.item-input.input-has-focus .item-inner,
		ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
		ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
		    border-bottom-color: #ffffff;
		    box-shadow: 2px solid #ffffff;
		}

		// /* Workaround to hide window phone default validation colors */
		// ion-item.item-wp.item-input.input-has-focus .text-input,
		// ion-item.item-wp.item-input.ng-valid.input-has-value:not(.input-has-focus) .text-input,
		// ion-item.item-wp.item-input.ng-invalid.ng-touched:not(.input-has-focus) .text-input {
		//     border: 2px solid #ffffff;
		// }
	}
  
  .addicon{
  	margin-left: 20px;
  }
  .deal-title{ font-weight: bold;}
		
}