<ion-header>
  <ion-navbar color="navcolor">
   	<ion-title>{{form_value ? 'Edit Deal' : 'Add Deal'}}</ion-title>
  	<ion-buttons end>
    	<button ion-button icon-only *ngIf="!form_value" (click)="save_deal()">SAVE</button>
    	<button ion-button icon-only *ngIf="form_value" (click)="update_deal()">UPDATE</button>
    	<button ion-button icon-only *ngIf="form_value" (click)="deleteDeal()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <form [formGroup]="dealForm" novalidate>
	  <ion-item>
	    <ion-icon item-left name="person"></ion-icon>
	    <ion-label floating>Link a person</ion-label>
      <ion-input formControlName="contact_person_name" type="text" 
	    	(focus)="push_on_person_search_page()" tappable [(ngModel)]="deal_data.contact_person_uuid.person_name" #input>
	    </ion-input>
	    <ion-icon name="{{person_icon_new}}" #iconinput item-right (click)="person_icon(iconinput)"></ion-icon>
	  </ion-item>

	  <ion-item>
	    <ion-icon item-left name="podium"></ion-icon>
	    <ion-label floating>Link an organization</ion-label>
	    <ion-input formControlName="contact_organization_name" type="text" 
	    	(focus)="contact_org_search_page()" tappable [(ngModel)]="deal_data.contact_organization_uuid.contact_organization_name"  #input></ion-input>
	    <ion-icon name="{{org_icon}}" #iconinput item-right (click)="organisation_icon(iconinput)" ></ion-icon>
	  </ion-item>

		<ion-list>
		 	<ng-container *ngIf="!deal_data.is_product">
			  <ion-item>
			    <ion-icon item-left></ion-icon>
			    <ion-label floating>Deal Value</ion-label>
			    <ion-input type="number" formControlName="deal_value" [(ngModel)]="deal_data.deal_value"></ion-input>
			  </ion-item>
		  </ng-container>
      <ng-container *ngIf="!deal_data.is_product">
			  <ion-item>
			  	<ion-icon item-left></ion-icon>
			    <ion-label floating>Currency</ion-label>
			    <ion-select interface="popover" [(ngModel)]="deal_data.deal_currency" formControlName="deal_currency">
			      <ion-option [value]="currency.Code" *ngFor="let currency of allCurrency">
			      	{{currency.fullname +"( "+currency.Code+" )"}}
			      </ion-option>
			    </ion-select>
			  </ion-item>
		  </ng-container>
      
      <!-- <ion-item *ngIf="!form_value">
		  	<ion-icon item-left></ion-icon>
		    <ion-label floating>Currency</ion-label>
		    <ion-select interface="popover" [(ngModel)]="deal_data.deal_currency" formControlName="deal_currency">
		      <ion-option [value]="currency.Code" *ngFor="let currency of allCurrency">
		      	{{currency.fullname +"( "+currency.Code+" )"}}
		      </ion-option>
		    </ion-select>
		  </ion-item> -->

		  <ng-container *ngIf="form_value">
				  <!-- <ion-item *ngIf="product_quantity==0">
				    <ion-icon item-left></ion-icon>
				    <a (click)="push_on_product_list()"><p style="color: #317ae2;">ATTACH PRODUCTS</p></a>
				  </ion-item> -->
				  <ion-item *ngIf="product_quantity!=0">
				  	<ion-icon item-left name="briefcase"></ion-icon>
				  	<span class="deal-title">{{deal_data.deal_value | currency:deal_data.deal_currency:true }}</span>	
		        <p item-end>{{product_quantity}} products</p>
				  </ion-item>
		  </ng-container>
		</ion-list>

		<ion-list>
		  <ion-item>
		    <ion-icon item-left name="logo-usd"></ion-icon>
		    <ion-label floating>Deal title</ion-label>
		    <ion-input type="text" [(ngModel)]="deal_data.deal_title" formControlName="deal_title"></ion-input>
		  </ion-item>
      <ion-item>
			  <ion-icon item-left name="list"></ion-icon>
		    <ion-label floating>Pipeline</ion-label>
		    <ion-select [(ngModel)]="selected_pipeline" interface="popover"
		    	(ionChange)="get_pileline_stages(selected_pipeline)"
		    	formControlName="pipeline_uuid">
		      <ion-option value="{{pipeline.uuid}}" *ngFor="let pipeline of pipeline_list">
		      	{{pipeline.pname}}
		      </ion-option>
		    </ion-select>
		  </ion-item>
		  <ion-item>
			  <ion-icon item-left></ion-icon>
		    <ion-label floating>Stage</ion-label>
		    <ion-select formControlName="stage_uuid" interface="popover" [ngModel]="selected_stage_uuid" (ionChange)="onSelectChange($event)">
		      <ion-option value="{{stg.uuid}}" *ngFor="let stg of stages_list; let i = index;" 
		      	[attr.data-index]="i">
		      	{{stg.stage}}
		      </ion-option>
		    </ion-select>
		  </ion-item>
		  <ion-item>
		    <ion-icon item-left></ion-icon>
		    <ion-label floating>Expect close date</ion-label>
		    <ion-input type="date" formControlName="expected_close_date" [(ngModel)]="deal_data.expected_close_date"></ion-input>
	  	</ion-item>
      <ion-item>
			  <ion-icon item-left></ion-icon>
		    <ion-label floating>Visible to</ion-label>
		    <ion-select interface="popover" formControlName="owner_follower">
		      <ion-option value="false">Owner & followers</ion-option>
		      <ion-option value="true">Entire company</ion-option>
		    </ion-select>
		  </ion-item>
		</ion-list>
	</form>
</ion-content>