page-events-calendar {
  .md-dayview-cat {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: 0 4px 0 0;
    border-radius: 6px;
    background: #aaa;
  }

  .mbsc-lv-item div{ visibility: hidden!important; }
  .event-text{
    font-size: 15px;
  }
}
