<ion-header>
  <ion-navbar>
    <ion-title>events-calendar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div mbsc-eventcalendar [mbsc-options]="calendarSettings" [mbsc-data]="events" [marked]="events"></div>
  <mbsc-listview [options]="listviewSettings">
    <mbsc-listview-header>Events happening on {{selectedDate | date:'shortDate'}}</mbsc-listview-header>
    <mbsc-listview-item *ngFor="let item of displayedEvents" class="event-text">
        <span *ngIf="item.color" class="md-dayview-cat" [style.background]="item.color"></span>
        <span class="mbsc-bold"> {{ getEventHours(item) }} </span>{{item.text}}
    </mbsc-listview-item>
  </mbsc-listview>

  <mbsc-form [options]="formSettings">
    <div mbsc-eventcalendar [mbsc-data]="events" [mbsc-options]="eventSettings" #mbscCalendar="mobiscroll"></div>
    <div class="mbsc-btn-group-block">
        <button (click)="mbscCalendar.instance.show()">Month calendar</button>
    </div>
</mbsc-form>
</ion-content>
