<ion-content padding>
	<div class="margin-header">
		<h2 class="heading-title">salesmonster</h2>
	  <form>
		  <ion-item>
		    <ion-label floating>Name</ion-label>
		    <ion-input type="text" autofocus [(ngModel)]="name" name=" "></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label floating>Email</ion-label>
		    <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
		  </ion-item>
		  <ion-item>
		    <ion-label floating>Password</ion-label>
		    <ion-input type="password" [type]="password_type" [(ngModel)]="password" name="password"></ion-input>
		    <ion-icon name="eye" item-right *ngIf="password_type == 'text'" (click)="togglePasswordMode()"></ion-icon>
	    	<ion-icon name="eye-off" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'password'"></ion-icon>
		  </ion-item>
		  <ion-item>
		    <ion-label floating>Confirm Password</ion-label>
		    <ion-input [type]="confirm_password_type" [(ngModel)]="confirm_password" name="confirm_password"></ion-input>
		    <ion-icon name="eye" item-right *ngIf="confirm_password_type == 'text'" (click)="confirmPasswordToggle()"></ion-icon>
        <ion-icon name="eye-off" item-right (click)="confirmPasswordToggle()" *ngIf="confirm_password_type == 'password'"></ion-icon>
		  </ion-item>
		  <span padding *ngIf="confirmpassword">Wrong Password</span>
		 	<div padding>
		  	<button ion-button outline full class="sign-up-btn" (click)="onRegister()">SIGN UP</button>
		 	</div>
		 	<div padding>
		  	<button ion-button full (click)="login_page()">ALREADY EXISTS ACCOUNT</button>	  	
		 	</div>
	  </form>
  </div>
</ion-content>